--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA tiger;


--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA tiger_data;


--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA topology;


--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: pgrouting; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgrouting WITH SCHEMA public;


--
-- Name: EXTENSION pgrouting; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgrouting IS 'pgRouting Extension';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auditoria_previsao_realidade; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auditoria_previsao_realidade (
    id_auditoria integer NOT NULL,
    id_operacao character varying(50),
    data_operacao date DEFAULT CURRENT_DATE,
    chuva_prevista_mm double precision DEFAULT 0.0,
    chuva_observada_mm double precision DEFAULT 0.0,
    alerta_emitido boolean DEFAULT false,
    ocorreu_interrupcao_real boolean DEFAULT false,
    desvio_adotado boolean DEFAULT false,
    resultado_classificacao character varying(30) DEFAULT 'VERDADEIRO_POSITIVO'::character varying,
    registrado_em timestamp without time zone DEFAULT now()
);


--
-- Name: auditoria_previsao_realidade_id_auditoria_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.auditoria_previsao_realidade_id_auditoria_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: auditoria_previsao_realidade_id_auditoria_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.auditoria_previsao_realidade_id_auditoria_seq OWNED BY public.auditoria_previsao_realidade.id_auditoria;


--
-- Name: cenarios_clima; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cenarios_clima (
    id_cenario character varying(50) NOT NULL,
    nome character varying(100) NOT NULL,
    precipitacao_mm double precision NOT NULL,
    janela_horas integer DEFAULT 24,
    tipo character varying(20) DEFAULT 'SIMULACAO'::character varying,
    gerado_em timestamp without time zone DEFAULT now(),
    tenant_id character varying(50) DEFAULT 'demo_corp'::character varying
);


--
-- Name: distrito_itaquera; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.distrito_itaquera (
    geom public.geometry
);


--
-- Name: estado_operacional_trechos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.estado_operacional_trechos (
    id_estado integer NOT NULL,
    id_trecho bigint,
    status character varying(50) DEFAULT 'TRANSITAVEL'::character varying,
    severidade character varying(50) DEFAULT 'BAIXA'::character varying,
    relato_origem text,
    registrado_em timestamp with time zone DEFAULT now()
);


--
-- Name: estado_operacional_trechos_id_estado_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.estado_operacional_trechos_id_estado_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: estado_operacional_trechos_id_estado_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.estado_operacional_trechos_id_estado_seq OWNED BY public.estado_operacional_trechos.id_estado;


--
-- Name: ocorrencias; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ocorrencias (
    id integer NOT NULL,
    logradouro character varying(255),
    severidade character varying(50),
    observacao text,
    lat double precision,
    lon double precision,
    criado_em timestamp with time zone DEFAULT now()
);


--
-- Name: ocorrencias_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.ocorrencias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ocorrencias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.ocorrencias_id_seq OWNED BY public.ocorrencias.id;


--
-- Name: operacao_rotas_trechos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.operacao_rotas_trechos (
    id_operacao character varying(50) NOT NULL,
    seq integer NOT NULL,
    id_trecho bigint NOT NULL
);


--
-- Name: operacoes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.operacoes (
    id_operacao character varying(50) NOT NULL,
    id_veiculo character varying(50),
    origem_nome character varying(100),
    origem_lat double precision NOT NULL,
    origem_lon double precision NOT NULL,
    destino_nome character varying(100),
    destino_lat double precision NOT NULL,
    destino_lon double precision NOT NULL,
    janela_inicio timestamp without time zone NOT NULL,
    janela_fim timestamp without time zone NOT NULL,
    status character varying(20) DEFAULT 'PLANNED'::character varying,
    distancia_planejada_km double precision DEFAULT 0.0,
    tempo_planejado_min double precision DEFAULT 0.0,
    custo_estimado double precision DEFAULT 0.0,
    criado_em timestamp without time zone DEFAULT now(),
    tenant_id character varying(50) DEFAULT 'demo_corp'::character varying
);


--
-- Name: recomendacoes_operacao; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.recomendacoes_operacao (
    id_recomendacao integer NOT NULL,
    id_operacao character varying(50),
    id_cenario character varying(50),
    tipo_acao character varying(30) NOT NULL,
    nivel_risco character varying(20) NOT NULL,
    motivo text NOT NULL,
    confianca double precision DEFAULT 0.85,
    km_adicionais double precision DEFAULT 0.0,
    minutos_adicionais double precision DEFAULT 0.0,
    custo_desvio double precision DEFAULT 0.0,
    prejuizo_potencial_evitado double precision DEFAULT 0.0,
    rota_alternativa_geojson jsonb,
    gerado_em timestamp without time zone DEFAULT now(),
    tenant_id character varying(50) DEFAULT 'demo_corp'::character varying
);


--
-- Name: recomendacoes_operacao_id_recomendacao_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.recomendacoes_operacao_id_recomendacao_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: recomendacoes_operacao_id_recomendacao_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.recomendacoes_operacao_id_recomendacao_seq OWNED BY public.recomendacoes_operacao.id_recomendacao;


--
-- Name: setores_ibge_itaquera; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.setores_ibge_itaquera (
    id_setor double precision,
    geometry public.geometry(MultiPolygon,31983)
);


--
-- Name: trechos_osm; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trechos_osm (
    id_trecho bigint,
    name text,
    highway text,
    length double precision,
    geometry public.geometry(LineString,31983),
    source bigint,
    target bigint,
    geom public.geometry(Geometry,31983),
    altitude_media double precision,
    distancia_agua_m double precision,
    classe_declividade double precision DEFAULT 1.0,
    grau_suscetibilidade text DEFAULT 'Medio'::text,
    total_alagamentos integer DEFAULT 0,
    ivi_score double precision,
    classe_risco text
);


--
-- Name: trechos_osm_vertices_pgr; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trechos_osm_vertices_pgr (
    id bigint NOT NULL,
    cnt integer,
    chk integer,
    ein integer,
    eout integer,
    the_geom public.geometry(Point,31983)
);


--
-- Name: trechos_osm_vertices_pgr_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.trechos_osm_vertices_pgr_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: trechos_osm_vertices_pgr_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.trechos_osm_vertices_pgr_id_seq OWNED BY public.trechos_osm_vertices_pgr.id;


--
-- Name: veiculos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.veiculos (
    id_veiculo character varying(50) NOT NULL,
    placa character varying(10) NOT NULL,
    modelo character varying(50) NOT NULL,
    tipo_veiculo character varying(20) DEFAULT 'VUC'::character varying,
    lat_atual double precision,
    lon_atual double precision,
    status character varying(20) DEFAULT 'DISPONIVEL'::character varying,
    criado_em timestamp without time zone DEFAULT now(),
    tenant_id character varying(50) DEFAULT 'demo_corp'::character varying
);


--
-- Name: auditoria_previsao_realidade id_auditoria; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auditoria_previsao_realidade ALTER COLUMN id_auditoria SET DEFAULT nextval('public.auditoria_previsao_realidade_id_auditoria_seq'::regclass);


--
-- Name: estado_operacional_trechos id_estado; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.estado_operacional_trechos ALTER COLUMN id_estado SET DEFAULT nextval('public.estado_operacional_trechos_id_estado_seq'::regclass);


--
-- Name: ocorrencias id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ocorrencias ALTER COLUMN id SET DEFAULT nextval('public.ocorrencias_id_seq'::regclass);


--
-- Name: recomendacoes_operacao id_recomendacao; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recomendacoes_operacao ALTER COLUMN id_recomendacao SET DEFAULT nextval('public.recomendacoes_operacao_id_recomendacao_seq'::regclass);


--
-- Name: trechos_osm_vertices_pgr id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trechos_osm_vertices_pgr ALTER COLUMN id SET DEFAULT nextval('public.trechos_osm_vertices_pgr_id_seq'::regclass);


--
-- Name: auditoria_previsao_realidade auditoria_previsao_realidade_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auditoria_previsao_realidade
    ADD CONSTRAINT auditoria_previsao_realidade_pkey PRIMARY KEY (id_auditoria);


--
-- Name: cenarios_clima cenarios_clima_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cenarios_clima
    ADD CONSTRAINT cenarios_clima_pkey PRIMARY KEY (id_cenario);


--
-- Name: estado_operacional_trechos estado_operacional_trechos_id_trecho_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.estado_operacional_trechos
    ADD CONSTRAINT estado_operacional_trechos_id_trecho_key UNIQUE (id_trecho);


--
-- Name: estado_operacional_trechos estado_operacional_trechos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.estado_operacional_trechos
    ADD CONSTRAINT estado_operacional_trechos_pkey PRIMARY KEY (id_estado);


--
-- Name: ocorrencias ocorrencias_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ocorrencias
    ADD CONSTRAINT ocorrencias_pkey PRIMARY KEY (id);


--
-- Name: operacao_rotas_trechos operacao_rotas_trechos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.operacao_rotas_trechos
    ADD CONSTRAINT operacao_rotas_trechos_pkey PRIMARY KEY (id_operacao, seq);


--
-- Name: operacoes operacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.operacoes
    ADD CONSTRAINT operacoes_pkey PRIMARY KEY (id_operacao);


--
-- Name: recomendacoes_operacao recomendacoes_operacao_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recomendacoes_operacao
    ADD CONSTRAINT recomendacoes_operacao_pkey PRIMARY KEY (id_recomendacao);


--
-- Name: trechos_osm_vertices_pgr trechos_osm_vertices_pgr_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trechos_osm_vertices_pgr
    ADD CONSTRAINT trechos_osm_vertices_pgr_pkey PRIMARY KEY (id);


--
-- Name: veiculos veiculos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.veiculos
    ADD CONSTRAINT veiculos_pkey PRIMARY KEY (id_veiculo);


--
-- Name: idx_auditoria_data; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_auditoria_data ON public.auditoria_previsao_realidade USING btree (data_operacao);


--
-- Name: idx_cenarios_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cenarios_tenant ON public.cenarios_clima USING btree (tenant_id);


--
-- Name: idx_operacoes_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_operacoes_status ON public.operacoes USING btree (status);


--
-- Name: idx_operacoes_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_operacoes_tenant ON public.operacoes USING btree (tenant_id);


--
-- Name: idx_recomendacoes_op; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_recomendacoes_op ON public.recomendacoes_operacao USING btree (id_operacao);


--
-- Name: idx_recomendacoes_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_recomendacoes_tenant ON public.recomendacoes_operacao USING btree (tenant_id);


--
-- Name: idx_setores_ibge_itaquera_geometry; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_setores_ibge_itaquera_geometry ON public.setores_ibge_itaquera USING gist (geometry);


--
-- Name: idx_trechos_osm_geom; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_trechos_osm_geom ON public.trechos_osm USING gist (geom);


--
-- Name: idx_trechos_osm_geometry; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_trechos_osm_geometry ON public.trechos_osm USING gist (geometry);


--
-- Name: idx_trechos_osm_source; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_trechos_osm_source ON public.trechos_osm USING btree (source);


--
-- Name: idx_trechos_osm_target; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_trechos_osm_target ON public.trechos_osm USING btree (target);


--
-- Name: idx_veiculos_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_veiculos_tenant ON public.veiculos USING btree (tenant_id);


--
-- Name: trechos_osm_id_trecho_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trechos_osm_id_trecho_idx ON public.trechos_osm USING btree (id_trecho);


--
-- Name: trechos_osm_source_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trechos_osm_source_idx ON public.trechos_osm USING btree (source);


--
-- Name: trechos_osm_target_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trechos_osm_target_idx ON public.trechos_osm USING btree (target);


--
-- Name: trechos_osm_vertices_pgr_the_geom_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trechos_osm_vertices_pgr_the_geom_idx ON public.trechos_osm_vertices_pgr USING gist (the_geom);


--
-- Name: auditoria_previsao_realidade auditoria_previsao_realidade_id_operacao_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auditoria_previsao_realidade
    ADD CONSTRAINT auditoria_previsao_realidade_id_operacao_fkey FOREIGN KEY (id_operacao) REFERENCES public.operacoes(id_operacao) ON DELETE CASCADE;


--
-- Name: operacao_rotas_trechos operacao_rotas_trechos_id_operacao_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.operacao_rotas_trechos
    ADD CONSTRAINT operacao_rotas_trechos_id_operacao_fkey FOREIGN KEY (id_operacao) REFERENCES public.operacoes(id_operacao) ON DELETE CASCADE;


--
-- Name: operacoes operacoes_id_veiculo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.operacoes
    ADD CONSTRAINT operacoes_id_veiculo_fkey FOREIGN KEY (id_veiculo) REFERENCES public.veiculos(id_veiculo) ON DELETE SET NULL;


--
-- Name: recomendacoes_operacao recomendacoes_operacao_id_cenario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recomendacoes_operacao
    ADD CONSTRAINT recomendacoes_operacao_id_cenario_fkey FOREIGN KEY (id_cenario) REFERENCES public.cenarios_clima(id_cenario) ON DELETE CASCADE;


--
-- Name: recomendacoes_operacao recomendacoes_operacao_id_operacao_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recomendacoes_operacao
    ADD CONSTRAINT recomendacoes_operacao_id_operacao_fkey FOREIGN KEY (id_operacao) REFERENCES public.operacoes(id_operacao) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

